<article>
    <h1>Programação de computadores</h1>
    <p>A programação é o processo de compor e organizar uma coleção de instruções. Essas instruções dizem a um computador/programa o que fazer em uma linguagem que o computador entenda. Elas vêm em diversas linguagens, como C++, Java, JavaScript, HTML, Python, Ruby, e Rust.</p>
    <p>Usando uma linguagem apropriada, você pode criar todos os tipos de aplicações. Por exemplo, um programa que ajuda cientistas a realizarem cálculos complexos, uma base de dados que armazena imensos volumes de dados, um website que permite que as pessoas baixem música, ou um programa de animação que permite que seus usuários criem filmes animados.</p>
</article>
