<article>
    <h1>Jakarta servlet</h1>
    <p>Em <b class="java">Java</b>, um servlet é uma <b class="class">classe</b> que <b class="extends">estende</b> as capacidades de um <b class="server">servidor</b>. Os servlets podem responder a diversos tipos de <b class="request">solicitações</b>,
        mas geralmente são utilizados para estender as aplicações hospedadas por servidores web. Para essas aplicações, a tecnologia Jakarta Servlet define classes servlet específicas para
        <a (click)="mostrarInfo()"> <b class="http">HTTP</b></a>.</p>
    <p>Os pacotes <code>javax.servlet</code> e <code>javax.servlet.http</code> fornecem interfaces e classes para escrever servlets. Todos os servlets devem implementar a interface <code>Servlet</code>, que define os métodos de <b class="lifecycle">ciclo de vida</b>.</p>
</article>